@define-mixin atSmall{
    @media(min-width: 570px){
        @mixin-content;
    }
}
@define-mixin atMedium{
    @media(min-width: 992px){
        @mixin-content;
    }
}
@define-mixin atLarge{
    @media(min-width: 1200px){
        @mixin-content;
    }
}

/* @define-mixin colorBlack{
    .color-black{
        color: #FFF;
    }
} */