.feature-item{
    margin-bottom: 3.5rem;
    padding: 0 1.3rem;

    &__icon{
        display: block;
        margin-left: auto;
        margin-right: auto;

        @mixin atLarge{
            margin-left: 0;
        }
    }
    &__title{
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $white;
        @mixin atLarge{
            text-align: left;
        }
    }
    &__description{
        color: $white;
    }
   
}