.footer{
    background-color: $mainBlue;
    padding: 1rem 0;
    text-align: center;
    color: $white;

    &__text{
        display: block;
        margin-bottom: 1rem;

        @mixin atMedium{
            display: inline;
            margin-bottom: 0;
            margin-right: 2rem;
        }
    }
    p{
        margin-bottom: 0;
    }
}