.header{
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 10px 0;
    transition: all 0.3s ease-out;

    @mixin atMedium{
        position: fixed;
        background-color: rgba(47,48,114,0.5);
        &__dark{
            background-color: rgba(47, 48, 114, 0.85);
        }
    }

    
    &__is-expanded{
        background-color: rgba(47, 48, 114, 0.7);
    }

    &__btn-container{
        @mixin atMedium{
            float: right;
        }
    }

    &__logo{
        position: absolute;
        background-color: $mainBlue;
        padding: 25px 35px;
        top: 0;
        left: 50%;
        transform: translate(-50%) scale(0.8);
        transform-origin: 50% 0;
        transition: all 0.3s ease-out;

        &-text{
            text-indent: -9999px;
            margin: 0;
        }

        @mixin atMedium{
            left: auto;
            transform: translateX(0);
            &-small{
                transform: scale(0.8);
            }
        }
    }

    &__menu-container{
        position: relative;
        transform: scale(1.2);
        opacity: 0;
        z-index: -10;
        text-align: center;
        padding-top: 7.6rem;
        transition: all 0.3s ease-out;

        &__is-visible{
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }
        @mixin atMedium{
            opacity: 1;
            z-index: 1;
            transform: scale(1);
            padding: 0;
        }
    }

    &__menu-icon{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;

        @mixin atMedium{
            display: none;
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $white;
            transform-origin: 0 100%;
            transition: all 0.3s ease-out;
        }

        &__bar{
            content: "";
            display: block;
            background-color: $white;
            position: absolute;
            width: 20px;
            height: 3px;
            top: 8px;
            left: 0;
            transform-origin: 0 50%;
        }

        &::after{
            content: "";
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $white;
            transform-origin: 0 100%;
            transition: all 0.3s ease-out;
        }
        &__close{
            &::before{
                transform: rotate(45deg) scale(1.25);
            }
            &::after{
                transform: rotate(-45deg) scale(1.25) translateY(2px);
            }
            .header__menu-icon__bar{
                opacity: 0;
                transform: scaleX(0);
            }
        }
    }
}