.large-hero{
    position: relative;

    &__text-content{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
    }
    &__title{
        font-size: 2.7rem;
        margin: 0;
        color: $mainBlue;
        font-weight: 300;
        @mixin atSmall{
            font-size:4.875rem;
        }
    }
    &__subtitle{
        font-size: 1.5rem;
        margin: 0;
        font-weight: 300;
        color: $mainBlue;

        @mixin atSmall{
            font-size:2.9rem;
            /* color: $white; */
        }
    }
    &__description{
        font-size: 1.1rem;
        font-weight: 100;
        margin-left: auto;
        margin-right: auto;
        max-width: 26.75rem;
        color: $white;

        @mixin atSmall{
            font-size:1.8rem;
        }
    }
}
