.page-section{
    padding: 1.5rem 0;

    @mixin atSmall{
        padding: 4rem;
    }
    &__display-image{
        margin-top: 1rem;
        margin-bottom: 1rem;

        @mixin atSmall{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    &__blue{
        background-color: $mainBlue;
    }
    &__testimonials{
        background-color: #E0E6EF;
    }
}