.reveal{
    opacity: 0;
    transform: scale(1.14);
    transition: all 0.3s ease-out;
    &__is-visible{
        opacity: 1;
        transform: scale(1);
        transition: all 9.3s ease-out;
    }
}